Q1. Pandas version

2.2.2

In [39]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.2.2'

In [4]:
# Getting the data
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv")

### Q2. Record count

How many records are in the dataset? 2160

In [5]:
df.shape

(2160, 12)

#### Q3. Laptop brands
How many laptop brands are presented in the dataset? 2160

In [7]:
df.Laptop.nunique()

2160

### Q4. Missing values
How many columns in the dataset have missing values? 2

In [8]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

### Q5. Maximum final price
What's the maximum final price of Dell notebooks in the dataset? 3936.0

In [17]:
dell = df[df.Brand == "Dell"]

In [19]:
dell.Model.unique()

array(['Vostro', 'Latitude', 'XPS', 'Precision'], dtype=object)

In [22]:
dell["Final Price"].max()

3936.0

### Q6. Median value of Screen
Find the median value of Screen column in the dataset.
- Next, calculate the most frequent value of the same Screen column.
- Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
- Now, calculate the median value of Screen once again.
Has it changed?

In [23]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [25]:
# Initial screen median
df.Screen.median()

15.6

In [26]:
# Initial screen mode
df.Screen.mode()

0    15.6
Name: Screen, dtype: float64

In [28]:
# filling the Screen null values with the most frequent value
df.Screen = df.Screen.fillna(df.Screen.mode()[0])

In [30]:
# The median remain thesame even after filling the null values with the most frequent.
df.Screen.median()

15.6

### Q7. Sum of weights
- Select all the "Innjoo" laptops from the dataset.
- Select only columns RAM, Storage, Screen.
- Get the underlying NumPy array. Let's call it X.
- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
- Compute the inverse of XTX.
- Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
- What's the sum of all the elements of the result?

In [52]:
# Select all the "Innjoo" laptops from the dataset.
innjoo = df[df.Brand == "Innjoo"]

In [34]:
# Select only columns RAM, Storage, Screen.
use_col =innjoo[["RAM", "Storage", "Screen"]]

In [36]:
# Get the underlying NumPy array
X = use_col.values

In [41]:
# transpose of X
XT = X.T

In [42]:
# Compute matrix-matrix multiplication between the transpose of X and X
XTX = XT.dot(X)

In [45]:
# Compute the inverse of XTX
inverse = np.linalg.inv(XTX)

In [46]:
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100]
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [51]:
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y 
inverse.dot(XT).dot(y).sum()

91.29988062995496